go 1.19

use (
	./exercise-fibonacci-closure
	./exercise-loops-and-functions
	./exercise-maps
	./exercise-slices
	./exercise-errors
	./exercise-images
	./exercise-readers
	./exercise-rot-readers
	./exercise-stringers
	./exercise-web-crawler
	./exercise-equivalent-binary-trees
)
